body {
    margin: 0px;
    height: 700px;
    min-width: 200px;
    padding: 0px;
  }

/* HOME SCREEN CSS GRID*/

.home{
    display: grid;
    height: 100%;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
    grid-auto-rows: 300px;
}

.home-basic-info{
    grid-column: 1 / span 5;
    text-align: center;
}

.home-menu-area{
    grid-column: span 3 / -1 ;
}

/* INFO SCREEN CSS GRID*/

.info{
    display: grid;
    height: 100%;
    width: 100%;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: 1fr 800px;
}

.info-menu-area{
    grid-column: 1 / -1 ;
}

.info-content-area{
    grid-column: 1 / -1 ;
    grid-row: 2;
}

/* REMAINING COMPONENTS*/


/* CONTENT*/

.content-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 10fr 1fr;
    grid-auto-rows: auto;
}

.content-grid-content {
    grid-column: 2;
}

/* SECTION*/

.section-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-auto-columns: auto;
    grid-auto-rows: 1fr 1fr 10fr 1fr ;
}

.section-grid-header{
    grid-row: 2;
}

.section-grid-content{
    grid-row: 3;
}

/* TITLE*/

.title{
    display: grid;
    height: 100%;
    width: 100%;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-columns: 3fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}

.title-name{
    grid-column: 2;
    grid-row: 2;
}

/* MENU*/

.menu-grid{
    display: grid;
    width: 100%;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 12fr 60px;
}

.menu-grid-burger{
    
    grid-column: 3;
  }

.menu-grid-items{
    grid-column: 2;
}

/* MENU ITEMS*/

.menu-items-grid{
    display: grid;
    width: 100%;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: auto;
}

.menu-items-grid-item {
    grid-column: span 1;
}

/* BURGER*/

.burger-grid {
    display: grid;
    width: 100%;
    grid-row-gap: 7px;
    grid-template-columns: 1fr minmax(2px, 4fr) 1fr;
    grid-auto-rows: 2px;
}

.burger-grid-burger {
    grid-column: 2;
}

.glass{
    background: rgba(85, 16, 214, 0.1);
    box-shadow: 0 8px 32px 0 rgba(23, 24, 36, 0.2);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-width: 1px;
    border-color: white;
}

.glass-hover{
    background: rgba(196, 196, 199, 0.1);
    box-shadow: 0 8px 32px 0 rgba(99, 58, 73, 0.1);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-width: 1px;
    border-color: white;
}

.backgroundVideo{
    z-index: 2;
    position: absolute;
}

.backgroundImg{
    z-index: 1;
    background-image: url(Forest.jpg);   
    position: absolute;
    height: 1400px;
    width: 100%;
}

.main-scroll{
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.main-scroll::-webkit-scrollbar {
    display: none;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: rgb(24, 7, 100);
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #862a0d, #dad8d9);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    -webkit-text-stroke: 1px rgb(3, 3, 3);
    font-family: sans; color: yellow;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

.carousel  {       
    background: white url("FSharpAnimation.gif") no-repeat center; 
}


@media screen and (max-width:500px){
    .title-author{
        color:white;
        font-size:30px !important;
    }  
}



  